.greeting-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
}

.greeting-box p {
  margin-bottom: 30px;
}

.greeting-box div {
  padding: 40px;
}

.answer-list {
  margin: 25px 0;
}

.answer-list {
  margin-top: 5px;
}
